@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: darkgrey;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 70px;
    background: #222;
    color: #fff;
    padding: 20px 50px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav a {
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-right: 10px;
}

nav {

    text-align: center;
}

.nav a:hover {
    color: plum;
}

button {
    padding: 7px;
    width: 100px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: gray;
}

img {
    margin-left: 750px;
    margin-top: 150px;
    max-width: 250px;
}

.right-side {
    max-width: 500px;
    margin-left: 50px;
    margin-top: -150px;
}

.right-side button {
    margin-top: 25px;
}

#h2 {
    margin-top: 90px;
    text-align: center;
}

.logo-box {
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    padding: 30px;
    margin: 40px;
    margin-top: 80px;
}

.logo-box i {
    font-size: 20px;
}

.logo-box:hover {
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.4);
}

.logo-css {
    margin-top: -94px;
    margin-left: 300px;
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    padding: 30px;
    margin-top: -120px;
    margin-bottom: 40px
}

.logo-css:hover {
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.4);
}

.logo-react {
    background-color: #fff;
    margin-top: -94px;
    margin-left: 600px;
    padding: 30px;
    margin-top: -120px;
    margin-bottom: 40px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.logo-react:hover {
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.4);
}

.logo-py {
    background-color: #fff;
    margin-top: -94px;
    margin-left: 900px;
    padding: 30px;
    margin-top: -120px;
    margin-bottom: 40px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.logo-py:hover {
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.4);
}

#project {
    margin-top: 70px;
    text-align: center;

}

.project-cardone {
    background-color: #fff;
    width: 300px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 30px;
    text-align: center;

}

.project-cardone:hover {
    transform: scale(1.01);
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.project-cardtwo {
    background-color: #fff;
    width: 300px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 30px;
    text-align: center;
    margin-top: -150px;
    margin-left: 400px;
}

.project-cardtwo:hover {
    transform: scale(1.01);
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.project-cardthree {
    background-color: #fff;
    width: 300px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 30px;
    text-align: center;
    margin-top: -150px;
    margin-left: 760px;
}

.project-cardthree:hover {
    transform: scale(1.01);
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#Conatct {
    margin-top: 40px;
    text-align: center;
}

#input1 {
    margin-top: 40px;
    margin-left: 20px;
    width: 400px;
    padding: 5px;
    border: none;
    border-radius: 8px;
}

#input2 {
    margin-left: 20px;
    width: 400px;
    padding: 5px;
    border: none;
    border-radius: 8px;
}

textarea {
    margin-left: 20px;
    margin-top: 30px;
}

#btn {
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;
}

#Social-media {
    margin-left: 800px;
    margin-top: -200px;
}

#link {
    margin-left: 800px;
    margin-top: 20px;
}

#link:hover {
    color: blue;
}

#github:hover {
    color: purple;
}

#insta:hover {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    ;
}

#face:hover {
    color: blue;
}


footer {
   background-color: black;
   color: white;
   text-align: bottom;
   padding: 10px;
   height: 200px;
   font-size: 20px;
   
}
#h3{
  margin-top: 65px;
  margin-left: 30px;
}
#p0{
    font-size: 10px;
    text-align: center;
    margin-top: 50px;
    color: gray;
}

